.navbar{
  background-color: white;
  padding-top: 30px;
  padding-bottom: 25px;
  width: 100%;
  position: fixed;
}

/*.navmenu{
  float: left;
  display: inline;
  background-color: lightgreen;
  width : 4px !important;
  padding-right: 70%;
}*/


html {
  background: url(assets/citylookingup.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.logo{
  float: left;
  font-size: 4em;
  font-family: Helvetica; /* Miltonian Tattoo */
	font-style: normal;
	font-variant: normal;
	font-weight: lighter;
	line-height: 49px;
}

.navbarlist {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white;
}

.navbarlistitems a {
    display: inline-block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbarlistitems a:hover {
    background-color: lightblue;
}
.navbarlistitems {
    float: right;
}

.splashtitle{
  background-color: lightblue, 0.3;
  position: fixed;
  margin-top: 18%;
  margin-left: 35%;
  margin-right: 35%;
  width: 600px;
  font-size: 4em;
  font-family: 'Helvetica';
  font-style: normal;
  font-variant: normal;
  font-weight: lighter;
  line-height: 49px;
}

.emphasizedtitle{
  color: #0080ff;
}

.firstname{
  color: #595959;
}

.skillsetlist{
  margin-left: 150px;
}
